<footer class="footer">

    <div class="footer-container">

        <div class="footer-section">
            <h3>SubTrack</h3>

            <p>
                Keep track of your subscriptions
                and know where your money is going.
            </p>
        </div>

        <div class="footer-section">
            <h4>Navigation</h4>

            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                {% if request.user.is_authenticated %}

                    <li>
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                    </li>

                    <li>
                        <a href="{% url 'analytics' %}">Analytics</a>
                    </li>

                {% endif %}

            </ul>
        </div>

        <div class="footer-section">
            <h4>Account</h4>

            <ul>
                {% if request.user.is_authenticated %}

                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>

                    <li>
                        <a href="{% url 'settings' %}">Settings</a>
                    </li>

                    {% if request.session.gmail_verified %}

                        <li>
                            <a href="{% url 'register_gmail' %}">
                                Change Gmail
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'remove_gmail' %}">
                                Remove Gmail
                            </a>
                        </li>
                    {% else %}  
                        <li>
                            <a href="{% url 'register_gmail' %}">
                                Register Gmail
                            </a>
                        </li>

                    {% endif %}

                {% else %}

                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>

                    <li>
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </li>

                {% endif %}
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        <p>&copy; {% now "Y" %} SubTrack. All rights reserved.</p>
    </div>

</footer>