# Django
SECRET_KEY=put-your-django-secret-key-here
DEBUG=False

# Google OAuth
GOOGLE_CLIENT_ID=put-your-google-client-id-here
GOOGLE_CLIENT_SECRET=put-your-google-client-secret-here
GOOGLE_REDIRECT_URI=put-your-google-oauth-callback-url-here

# PostgreSQL
DATABASE_URL=put-your-railway-postgres-database-url-here

# Celery / Redis
CELERY_BROKER_URL=put-your-railway-redis-url-here

# Allowed hosts
ALLOWED_HOSTS=put-your-railway-domain-here